<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hcis.ipanther.common.user.mapper.UserRegisterFlowMapper" >
  <resultMap id="BaseResultMap" type="com.hcis.ipanther.common.user.entity.UserRegisterFlow" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="TASK_NAME" property="taskName" jdbcType="VARCHAR" />
    <result column="TASK_ID" property="taskId" jdbcType="VARCHAR" />
    <result column="AUDIT_DEPT" property="auditDept" jdbcType="VARCHAR" />
    <result column="AUDIT_TIME" property="auditTime" jdbcType="TIMESTAMP" />
    <result column="AUDIT_USER" property="auditUser" jdbcType="VARCHAR" />
    <result column="AUDIT_RESULT" property="auditResult" jdbcType="VARCHAR" />
    <result column="AUDIT_CONTENT" property="auditContent" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="CREATOR" property="creator" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATEDBY" property="updatedby" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="IS_DELETED" property="isDeleted" jdbcType="CHAR" />
    <result column="VERSION" property="version" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, USER_ID, TASK_NAME, TASK_ID, AUDIT_DEPT, AUDIT_TIME, AUDIT_USER, AUDIT_RESULT, 
    AUDIT_CONTENT, STATUS, CREATOR, CREATE_TIME, UPDATEDBY, UPDATE_TIME, IS_DELETED, 
    VERSION
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from IPR_USER_REGISTER_FLOW
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from IPR_USER_REGISTER_FLOW
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hcis.ipanther.common.user.entity.UserRegisterFlow" >
    insert into IPR_USER_REGISTER_FLOW (ID, USER_ID, TASK_NAME, 
      TASK_ID, AUDIT_DEPT, AUDIT_TIME, 
      AUDIT_USER, AUDIT_RESULT, AUDIT_CONTENT, 
      STATUS, CREATOR, CREATE_TIME, 
      UPDATEDBY, UPDATE_TIME, IS_DELETED, 
      VERSION)
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{taskName,jdbcType=VARCHAR}, 
      #{taskId,jdbcType=VARCHAR}, #{auditDept,jdbcType=VARCHAR}, #{auditTime,jdbcType=TIMESTAMP}, 
      #{auditUser,jdbcType=VARCHAR}, #{auditResult,jdbcType=VARCHAR}, #{auditContent,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updatedby,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=CHAR}, 
      #{version,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.hcis.ipanther.common.user.entity.UserRegisterFlow" >
    insert into IPR_USER_REGISTER_FLOW
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="taskName != null" >
        TASK_NAME,
      </if>
      <if test="taskId != null" >
        TASK_ID,
      </if>
      <if test="auditDept != null" >
        AUDIT_DEPT,
      </if>
      <if test="auditTime != null" >
        AUDIT_TIME,
      </if>
      <if test="auditUser != null" >
        AUDIT_USER,
      </if>
      <if test="auditResult != null" >
        AUDIT_RESULT,
      </if>
      <if test="auditContent != null" >
        AUDIT_CONTENT,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="creator != null" >
        CREATOR,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updatedby != null" >
        UPDATEDBY,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="isDeleted != null" >
        IS_DELETED,
      </if>
      <if test="version != null" >
        VERSION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="taskName != null" >
        #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null" >
        #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="auditDept != null" >
        #{auditDept,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null" >
        #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditUser != null" >
        #{auditUser,jdbcType=VARCHAR},
      </if>
      <if test="auditResult != null" >
        #{auditResult,jdbcType=VARCHAR},
      </if>
      <if test="auditContent != null" >
        #{auditContent,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedby != null" >
        #{updatedby,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=CHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hcis.ipanther.common.user.entity.UserRegisterFlow" >
    update IPR_USER_REGISTER_FLOW
    <set >
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="taskName != null" >
        TASK_NAME = #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null" >
        TASK_ID = #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="auditDept != null" >
        AUDIT_DEPT = #{auditDept,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null" >
        AUDIT_TIME = #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditUser != null" >
        AUDIT_USER = #{auditUser,jdbcType=VARCHAR},
      </if>
      <if test="auditResult != null" >
        AUDIT_RESULT = #{auditResult,jdbcType=VARCHAR},
      </if>
      <if test="auditContent != null" >
        AUDIT_CONTENT = #{auditContent,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        CREATOR = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedby != null" >
        UPDATEDBY = #{updatedby,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        IS_DELETED = #{isDeleted,jdbcType=CHAR},
      </if>
      VERSION = VERSION+1,
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hcis.ipanther.common.user.entity.UserRegisterFlow" >
    update IPR_USER_REGISTER_FLOW
    set USER_ID = #{userId,jdbcType=VARCHAR},
      TASK_NAME = #{taskName,jdbcType=VARCHAR},
      TASK_ID = #{taskId,jdbcType=VARCHAR},
      AUDIT_DEPT = #{auditDept,jdbcType=VARCHAR},
      AUDIT_TIME = #{auditTime,jdbcType=TIMESTAMP},
      AUDIT_USER = #{auditUser,jdbcType=VARCHAR},
      AUDIT_RESULT = #{auditResult,jdbcType=VARCHAR},
      AUDIT_CONTENT = #{auditContent,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      CREATOR = #{creator,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATEDBY = #{updatedby,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      IS_DELETED = #{isDeleted,jdbcType=CHAR},
      VVERSION = VERSION+1
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 根据用户ID取最新一条记录 -->
  <select id="getLatestByUserId" resultMap="BaseResultMap" parameterType="java.lang.String" >
  	SELECT *
	  FROM (SELECT t.* 
	          FROM ipr_user_register_flow t
	         WHERE t.user_id = #{userId,jdbcType=VARCHAR}
	         ORDER BY t.create_time DESC)
	 WHERE ROWNUM = 1
  </select>
  <!-- 取出用户的所有的流程流转信息 -->
  <select id="getFlowsByUserId" resultMap="BaseResultMap" parameterType="searchParam" >
  	SELECT a.task_name,
	       a.audit_dept,
	       a.audit_time,
	       a.audit_result,
	       a.audit_content,
	       a.audit_user,
	       a.task_id
	  FROM ipr_user_register_flow a
	  LEFT JOIN ipr_user_register b
	    ON a.user_id = b.id
	 WHERE a.user_id = #{paramMap.userId,jdbcType=VARCHAR}
	    OR b.user_id = #{paramMap.userId,jdbcType=VARCHAR}
	    order by a.CREATE_TIME desc
  </select>
</mapper>